<div class="order_form">
    <fieldset class="container" style="margin-top:2em; margin-bottom:10%">
        <legend>Please Enter Your Details</legend>
        <%= render 'form', order: @order %>
    </fieldset>
</div>